.Upload-Button {
  margin-left: 45px;
}

.Upload-Video {
  margin-left: 55px;
  border-radius: 10px;
  width: 100%;
  height: 225px;
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .Upload-Button {
    margin-left: 0;
  }
  .Upload-Video {
    margin-left: 0;
  }
}
